.nav {
    box-sizing: border-box;

    width: var(--page-width);
    min-height: 80px;

    position: absolute;
    left: var(--body-margin);
    top: var(--body-margin);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: auto;

    padding: 0px 32px;
}

.nav > * {
    width: 100%;
}

.logo {
    width: max-content;
}

.links
{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.link {
    border-bottom: 2px solid transparent;
    padding: 8px 16px;
}

.active {
    color: var(--accent-dark-hex);
}

.disabledLink {
    pointer-events: none;
    cursor: default;
    opacity: 25%;
}